<header class="header">
    <nav class="nav">
        <div class="logo">
            <a href=""><h2>Finiliha</h2></a>
        </div>
        <div class="options">
            <ul class="navegation">
                <li><a href="">Contact us/FAQ</a></li>
                <li><a href="">Terms and Conditions</a></li>
                <li><a href="">Buying Online</a></li>
            </ul>
            <div class="search">
                <form action="#">
                    <input placeholder="Realiza tu busqueda..." type="text">
                    <div class="icons">
                        <i class="bi bi-person"></i>
                        <i class="bi bi-bag"></i>
                    </div>
                </form>
            </div>
            <div class="header-down">
                <ul class="down">
                    <li><a class="shop-link" href="">SHOP</a></li>
                    <li><a href="">ABOUT ABAND COSMETICS</a></li>
                    <li><a href="">BEATY TIPS</a></li>
                    <li><a href="">BLOG</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
