<section class="main">
    <div class="hero">
        <div class="section-text">
            <div class="section-description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto sunt deleniti commodi velit eligendi quasi officia earum, unde ipsum ipsam quis ut explicabo pariatur dolores. Cumque ratione beatae tempora debitis.</p>
            </div>
            <div class="section-button">
                <button>SHOP NOW</button>
            </div>
        </div>
        <div class="section-image">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/035/197/725/small_2x/cosmetics-products-transparent-background-fashion-outfit-profucts-png.png" alt="">
        </div>
    </div>
</section>
