<section class="main-services">
    <h1>SERVICES</h1>
    <div class="services">
        <div class="service-1">
            <img src="../../../../assets/serum-serumbottle-vitamin-svgrepo-com.svg" alt="">
            <h2>SERUM</h2>
        </div>
        <div class="service-2">
            <img src="../../../../assets/lifebuoy-svgrepo-com.svg" alt="">
            <h2>CLEANSER</h2>
        </div>
        <div class="service-3">
            <img src="../../../../assets/cream-svgrepo-com.svg" alt="">
            <h2>CREAM</h2>
        </div>
    </div>
</section>
